.deleteModalContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.deleteModalContainer .deleteModal {
  border-radius: 50px;
  background-color: white;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.deleteModalContainer .deleteModal h2 {
  font-family: "Trebuchet MS";
}
.deleteModalContainer .deleteModal .deleteChoise .approveDelete {
  padding: 7px 30px 7px 30px;
  background-color: rgba(9, 169, 27, 0.644);
  font-family: "Trebuchet MS";
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.deleteModalContainer .deleteModal .deleteChoise .cancelDelete {
  padding: 7px 30px 7px 30px;
  background-color: rgba(255, 0, 0, 0.664);
  font-family: "Trebuchet MS";
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.deleteModalContainer.open {
  display: flex;
}

.editModalContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.editModalContainer .editModal {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
.editModalContainer .editModal form {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.editModalContainer .editModal form input {
  height: 40px;
  width: 250px;
  border: 1px solid rgb(10, 208, 20);
  padding: 10px;
  height: 40px;
  width: 250px;
  outline: none;
  border-radius: 20px;
}
.editModalContainer .editModal form input:focus {
  background-color: rgba(10, 149, 208, 0.09);
}
.editModalContainer .editModal form label {
  font-family: "Trebuchet MS";
  transition: 400ms;
  border-bottom: 1px solid rgb(10, 208, 20);
}
.editModalContainer .editModal form .updateChoise {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}
.editModalContainer .editModal form .updateChoise #update {
  padding: 7px 30px 7px 30px;
  background-color: rgba(9, 169, 27, 0.644);
  font-family: "Trebuchet MS";
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.editModalContainer .editModal form .updateChoise #cancelUpdate {
  padding: 7px 30px 7px 30px;
  background-color: rgba(255, 0, 0, 0.664);
  font-family: "Trebuchet MS";
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.editModalContainer.open {
  display: flex;
}

@media (max-width: 960px) {
  #container {
    flex-direction: column;
  }
  #container #tableContainer {
    padding-top: 50px;
    width: 100%;
  }
}
@media (max-width: 570px) {
  #tableContainer #table thead tr th {
    font-size: 13px;
  }
  #tableContainer #table tbody tr td {
    font-size: 12px;
  }
  #tableContainer #table tbody tr .operation .edit {
    width: 20px;
  }
  #tableContainer #table tbody tr .operation .delete {
    width: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bodyRow td button {
  width: 2000px;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
#container #addContact {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
#container #addContact input {
  border: 1px solid rgb(10, 149, 208);
  padding: 10px;
  height: 40px;
  width: 250px;
  outline: none;
  border-radius: 20px;
}
#container #addContact input:focus {
  background-color: rgba(10, 149, 208, 0.2);
}
#container #addContact label {
  font-family: "Trebuchet MS";
  transition: 400ms;
  border-bottom: 1px solid rgb(10, 149, 208);
}
#container #addContact button {
  margin-top: 10px;
  cursor: pointer;
  padding: 15px;
  background-color: rgb(10, 149, 208);
  border-radius: 20px;
  border: none;
  box-shadow: -3px 5px 11px #aeaeae;
  color: white;
  font-family: "Trebuchet MS";
  transition: 300ms;
}
#container #addContact button:hover {
  padding: 20px;
}
#container #tableContainer {
  height: 600px;
}
#container #tableContainer table {
  text-align: center;
  width: 100%;
}
#container #tableContainer table th {
  background-color: rgb(10, 149, 208);
  font-size: 15px;
  padding: 10px;
  font-family: "Trebuchet MS";
  text-transform: uppercase;
}
#container #tableContainer table tr {
  font-family: "Trebuchet MS";
  background-color: rgb(205, 205, 205);
}
#container #tableContainer table tr td {
  padding: 10px;
}
#container #tableContainer table .operations .edit {
  padding: 7px 30px 7px 30px;
  background-color: rgba(9, 169, 27, 0.644);
  font-family: "Trebuchet MS";
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
#container #tableContainer table .operations .delete {
  padding: 7px 30px 7px 30px;
  background-color: rgba(255, 0, 0, 0.664);
  font-family: "Trebuchet MS";
  border: 1px solid white;
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */